/* You can add global styles to this file, and also import other style files */
html {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  overflow-y: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-grow: 1;
}

app-root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
