<!--The content below is only a placeholder and can be replaced.-->
<div id="container" >
  <div id="graph-container" #graphContainer></div>
  <div id="controls" #controls>
    <textarea [formControl]="playlistIDControl"></textarea>
    <button (click)="addPlaylist()">Add Playlist</button>
    <button (click)="exploreRelatedArtists()">Explore Related</button>
    <button (click)="addAlbums()">Expand Track Albums</button>
  </div>
</div>
